.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	min-height: 100px;
	justify-content: center;
}

.time-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

body {
	background-color: #646e82;
}

footer {
	margin-top: 250px;
}

.title h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	font-family: "Playfair Display", serif;
	font-weight: 400;
	color: #fff;
	letter-spacing: 1px;
}

.title h1 span {
	margin-top: 5px;
	font-size: 11px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-weight: 400;
	word-spacing: 1px;
	letter-spacing: 2px;
	text-transform: uppercase;
	
	display: flex;
	gap: 10px;
	align-items: center;
}

.title h1 span:after,
.title h1 span:before {
	content: "";
	flex: 1;
	height: 1px;
	background-color: #ccc;
}

.title h1 span:before {
	margin-right: 10px;
}

.title h1 span:after {
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: #b4faff;
}

input {
	font: .9em/1.5em "handwriting", sans-serif;
	border: 3px solid;
	padding: 0;
	margin: 0;
	max-width: 6%;
	min-width: 180px;
	background: 0 0;
	font-size: 120px;
	font-weight: 700;
	text-align: center;
}

.animated-button {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 8px 16px;
	border: 4px solid;
	border-color: transparent;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	background-color: inherit;
	border-radius: 20px;
	font-weight: 600;
	cursor: pointer;
	overflow: hidden;
	transition: all .6s cubic-bezier(.23,1,.32,1);
	color: #fff;
	box-shadow: rgba(0,0,0,.19) 0 10px 20px,rgba(0,0,0,.23) 0 6px 6px;
}

.animated-button.start {
	background-color: #006400;
	box-shadow: rgba(0,0,0,.19) 0 10px 20px,rgba(0,0,0,.23) 0 6px 6px,0 0 0 2px #0f0;
								  
}

.animated-button.stop {
	background-color: #8b0000;
	box-shadow: rgba(0,0,0,.19) 0 10px 20px,rgba(0,0,0,.23) 0 6px 6px,0 0 0 2px red;
					   
 

						 
				
}

.animated-button .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: grey;
	opacity: 0;
	transition: all .8s cubic-bezier(.23,1,.32,1);
}

.animated-button.start .circle {
	background-color: #009600;
}

.animated-button.stop .circle {
	background-color: #be0000;
}

.animated-button .text {
	position: relative;
	z-index: 1;
	transition: all .8s cubic-bezier(.23,1,.32,1);
}

.animated-button:hover {
	padding: 10px 16px;
	box-shadow: 0 0 0 12px transparent;
	color: #212121;
	border-radius: 12px;		
}

.animated-button:hover .text {
	color: #fff;
}

.animated-button.start:hover .text {
	color: #fff;
}

.animated-button.stop:hover .text {
	color: #fff;
}

.animated-button:active {
	scale: .95;
}

.animated-button.start:active {
	box-shadow: 0 0 0 4px green;
}

.animated-button.stop:active {
	box-shadow: 0 0 0 4px red;
}

.animated-button:hover .circle {
	width: 220px;
	height: 220px;
	opacity: 1;
}

.btnActive {
	border-radius: 50%;
	background-color: rgba(0,0,0,.3);
	transition: all .8s cubic-bezier(.23,1,.32,1);
	padding: 10px 16px;
	box-shadow: rgba(0,0,0,.19) 0 10px 20px,rgba(0,0,0,.23) 0 6px 6px;
	border-radius: 12px;
}

.noHover {
	pointer-events: none;
}